/* importing*/

@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


body {
    background: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

header {
    position: absolute;
    right: 38cm;
    top: 0.6cm;
}

.logo {
    border-radius: 50%;
    height: 2cm;
    width: 2cm;
}

.overall {
    display: flex;
    backdrop-filter: blur(5px);
    border-radius: 3%;
}

.socialmedia {
    padding: 1cm;
    width: 7cm;
}

.text {
    color: white;
    text-align: center;
    font-family: 'Lemon';
    font-weight: 400;
    user-select: none;
}

#socmed {
    margin-top: 1cm;
}

.button {
    display: flex;
    flex-direction: column;
}

.but {
    height: 1cm;
    margin-top: 0.2cm;
    border-radius: 5px;
    border: 2px solid white;
    font-family: 'Russo One';
    font-size: 1rem;
}

.link {
    color: black;
    text-decoration: none;
}

#facebook {
    margin-top: 3cm;
}

.log {
    padding: 1.5cm;
    user-select: none;
}

form {
    margin-top: 2cm;
    display: flex;
    flex-direction: column;
}

.but:hover {
    background-color: #004b23;
    border: 2px solid #004b23;

}

#logIn {
    background-color: #38b000;
    color: white;
    width: 86%;
    margin-top: 1cm;
}

#logIn:hover {
    background-color: green;
    border: 2px solid green;
}

#forpass {
    border: 2px solid #38b000;
    width: 77%;
    margin-left: 0.8cm;
}

#forpass:hover {
    background-color: #004b23;
    border: 2px solid #004b23;
}

.sign {
    text-decoration: none;
    color: white;
}

.sign:hover {
    color: #38b000;
}